---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<!--<figure><img src="/img/{% if hero %}{{ hero }}{% else %}orb.jpg{% endif %}" width="900" height="400" alt="decoration" /></figure>-->

<section class="main-hero">

<img src="./img/corn_wide3.jpg">
<div class="center-hero">OMARD, MICHIGAN</div>

</section>

{% set maxPosts = collections.posts.length | min(3) %}
<h1>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found <a href="{{ '/posts/' | url }}">here</a>.</p>
