---
layout: layouts/post.njk
title: Journal
templateClass: tmpl-post
eleventyNavigation:
  key: Journal
  order: 4
---

[![Netlify Status](https://api.netlify.com/api/v1/badges/00c3f250-b036-416d-92c0-5ac806a4df46/deploy-status)](https://app.netlify.com/sites/mystifying-mestorf-c41a15/deploys)


{% include "postslist.njk" %}